@media screen and (min-width: 700px) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "information workexperience education"
                             "portfolio";
    }

    #information {
        grid-area: information;
    }

    #work-experience {
        grid-area: workexperience;
    }

    #education {
        grid-area: education;
    }

    #portfolio {
        grid-area: portfolio;
    }


}