@media screen and (min-width: 700px) {

    main {
        display: flex;
        flex-direction: row;

    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    #work-experience, #education, #portfolio {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }


}