@media screen and (min-width: 700px) {
    .content {
        flex-direction: row;
    }

    #workExperience, #education, #portfolio {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h2 {
       font-size: 2rem;
    }

    p, li, .gitHub, .linkedIn {
        font-size: 1.5rem;
    }

    header {
        justify-content: space-evenly;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    .head-line {
        margin-left: 10rem;
    }

    p {
        max-width: 500px;
        align-self: center;
    }


}