:root {
    --bgColor: white;
    --txtColor: black;
    --navbarColor: black;
    --navbarTxt: white;
    --headerBg: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(6,20,54,0.5) 50%, rgba(60,59,57,0.5) 100%);
    --mainBg: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(166,166,166,0.5) 0%, rgba(47,41,28,0.5) 100%);
    --headlineTxt: white;
}

/*reusable classes*/
.flex { display: flex; }
.flex-column { flex-direction: column; }
.justify-around { justify-content: space-around; }
.self-center { align-self: center; }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: var(--txtColor);
    background: var(--bgColor);
}

header {
    height: 6rem;
    background: var(--headerBg);
    border: 2px solid black;
}

main {
    background: var(--mainBg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-direction: column;
}

#workExperience, #education, #portfolio {
    border: 1px black solid;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--navbarColor);
    background: var(--navbarTxt);
}


.head-line {
    font-size: 2rem;
    color: var(--headlineTxt);
    text-decoration: none;
}

h1 {
    align-self: center;
    margin: 0.5rem 0 0 0;
}

.head-line:hover {
    color: black;
}

.darkButton {
    height: 2rem;
    width: 7rem;
    font-weight: 600;
    font-size: 1rem;
}

#uk, #swe {
    height: 2rem;
    width: 3rem;
    margin: 2rem 0 0 0;
}

.colorButton:hover {
    cursor: pointer;
    color: red;
}

#uk:hover {
    cursor: pointer;
}

#swe:hover {
    cursor: pointer;
}

a:hover {
    color: red;
}

h2 {
    margin-left: 1rem;
}

h2, h3, p {
    text-align: center;
    font-size: 2rem;
}

p {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
}

ul {
    font-weight: 600;
    font-size: 2rem;
    align-self: center;
    width: 250px;
}

li {
    font-size: 1.5rem;
    font-weight: 400;
}

img, a {
    margin-left: 1rem;
}

.imageOfMe {
    height: 15rem;
    width: 12rem;
    align-self: center;
}

#workExperience:hover {
    color: red;
    cursor: pointer;
}

#education:hover {
    color: red;
    cursor: pointer;
}

#portfolio:hover {
    color: red;
    cursor: pointer;
}

.linkedInAccount {
    color: var(--txtColor);
}

.linkedInAccount:hover {
    color: red;
}

.images {
    height: 400px;
    width: 350px;
    margin-bottom: 1rem;
    align-self: center;
}

.gitHub, .linkedIn {
    align-self: center;
    margin: 1rem 0 1rem 0;
    color: var(--txtColor);
    text-align: center;
}
