:root {
    --bgColor: white;
    --txtColor: black;
    --navbarColor: black;
    --navbarTxt: white;
}

/*reusable classes*/
.flex { display: flex; }
.flex-column { flex-direction: column; }
.align-center { align-content: center; }
.justify-center {justify-content: center; }
.justify-around { justify-content: space-around; }
.self-center { align-self: center; }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: var(--txtColor);
    background: var(--bgColor);
}

header {
    height: 6rem;
    color: var(--txtColor);
    border: 2px solid black;
}

#work-experience, #education, #portfolio {
    background: black;
    border: 1px black solid;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--navbarColor);
    background: var(--navbarTxt);
}

main {
    width: 80%;
}

.head-line {
    font-size: 2rem;
    color: var(--txtColor);
    text-decoration: none;
}

.dark-mode {
    background: black;
    color: white;
}

.themeButton {
    height: 2rem;
    width: 6rem;
    font-weight: 600;
    font-size: 1rem;
}

#uk, #sv {
    height: 2rem;
    width: 3rem;
    margin: 2rem 0 0 0;
}

.imageOfMe {
    height: 15rem;
    width: 12rem;
}

#information {
    background: #4d5259;
    display: flex;
    flex-direction: column;
}

#work-experience:hover {
    color: red;
}

#education:hover {
    color: red;
}

#portfolio:hover {
    color: red;
}

ul {
    font-weight: 600;
}

img, h2, ul, p, a, h3 {
    margin-left: 2rem;
}

.linkedInAccount {
    color: black;
}

.linkedInAccount:hover {
    color: red;
}